*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
    font-family: sans-serif;
}
img{
    height: 250px;
    width: 250px;
}
h1{
    text-align: center;
    color: blueviolet;
}
hr{
    margin-top: 5px;
    margin-bottom: 5px;
    border: dotted;
}
a{
    font-size:x-large;
}
#size{
    text-align: center;
    font-size: xx-large;
}
p{
    margin-top: 10px;
    margin-bottom: 10px;
}